<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Cocktail Training</title>
</head>
<body>
    <div class="row main">
        <h1>Question</h1>
        {% if x == 'multi' %}
        Match the following {{ ps }} with the correct cocktail <br>
        {{ ps | title}} = {{ full[ps] }} <br>
        {% if ps == 'steps' %}
        Ingredients = {{ full.ingredients }} <br>
        {% endif %} 
        {% elif x == 'YN' %}
        Is "{{ full.name}}" {{ ps }}?<br><br>
        {% endif %}


<!--         
        {% for x in allCock %}
        {% for z in choices %}
        {% if z == x.name %}
        {{ x }} <br><br><br>
        {% endif %}
        {% endfor %}
        {% endfor %} -->


    </div>
    <div class="row main">
        <h1>test</h1>

        {% for each in allCock %}
        {% for x in choices %}
        {% if each['name'] == x %}
        {% if each[ps] == As %}
        Yes {{each['name']}}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}

        
        <!-- {{ same }} <br><br><br><br>
        {% for x in choices %}
        {{ x }} <br><br>
        {% endfor %} -->



    </div>
    <div class="row main">
        <h1>Answers</h1>
        {% if x == 'multi' %}
        <ul>
            {% for x in allCock %}
            {% for z in choices %}
            {% if z == x.name %}
            <input type="radio" id='{{x.name}}' name='choice' value='{{x.name}}'>
            <label for='{{x.name}}'>{{x.name}}</label><br>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
        {% elif x == 'YN' %}
        <ul>
            <input type="radio" id='{{x.name}}-yes' name='choice' value='{{x.name}}-yes'>
            <label for='{{x.name}}-yes'>Yes</label><br>
            <input type="radio" id='{{x.name}}-no' name='choice' value='{{x.name}}-no'>
            <label for='{{x.name}}-no'>No</label><br>
        </ul>
        {% endif %}

        {{ theName }}

    </div>
    <div class="row main">
        <h1>Score</h1>
        

    </div>


</body>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</html>