<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    <title>Cocktail Training</title>
</head>
<body>
    <!-- {% for x in ctail %}
    <ul>
        <li>{{x.name}}</li>
        <li>{{x.glass}}</li>
        <li>{{x.base}}</li>
        <li>{{x.steps}}</li>
        <li>{{x.wrong_steps1}}</li>
        <li>{{x.wrong_steps2}}</li>
        <li>{{x.wrong_steps3}}</li>
        <li>{{x.strained}}</li>
        <li>{{x.garnish}}</li>
    </ul>
        
    {% endfor %} -->
    
    <h1>test1</h1>

</body>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</html>